In [102]:
import pandas as pd
from sklearn.manifold import TSNE
tsne_model = TSNE(n_components=2, verbose=1, random_state=7, angle=.99, init='pca')

In [103]:
doc_topic = pd.read_csv('/Users/susanchen/Documents/Depression-or-Covid-Fatigue/data/trainingTM.csv')

In [104]:
tsne_lda = tsne_model.fit_transform(doc_topic) # doc_topic is document-topic matrix from LDA or GuidedLDA

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 1415 samples in 0.022s...
[t-SNE] Computed neighbors for 1415 samples in 0.112s...
[t-SNE] Computed conditional probabilities for sample 1000 / 1415
[t-SNE] Computed conditional probabilities for sample 1415 / 1415
[t-SNE] Mean sigma: 0.000000
[t-SNE] KL divergence after 250 iterations with early exaggeration: 70.905769
[t-SNE] KL divergence after 1000 iterations: 0.742633

In [105]:
doc_topic

,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15
0,0.020000,0.020000,0.120000,0.020000,0.020000,0.020000,0.020000,0.020000,0.120000,0.120000,0.020000,0.320000,0.020000,0.120000,0.020000
1,0.150000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.150000,0.275000,0.025000,0.025000,0.150000
2,0.150000,0.025000,0.150000,0.025000,0.025000,0.025000,0.025000,0.025000,0.400000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000
3,0.040000,0.040000,0.040000,0.040000,0.040000,0.440000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000
4,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.440000,0.040000,0.040000,0.040000,0.040000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410,0.040000,0.240000,0.240000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000
1411,0.022222,0.355556,0.022222,0.022222,0.022222,0.022222,0.022222,0.022222,0.244444,0.133333,0.022222,0.022222,0.022222,0.022222,0.022222
1412,0.050000,0.050000,0.050000,0.050000,0.050000,0.300000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000
1413,0.040000,0.240000,0.040000,0.040000,0.040000,0.240000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000
1414,0.025000,0.025000,0.025000,0.525000,0.025000,0.025000,0.025000,0.025000,0.025000,0.150000,0.025000,0.025000,0.025000,0.025000,0.025000

In [106]:
#find the maximum topic of each row
max_topic_prob = doc_topic.max(axis=1)
doc_topic['max_topic_prob'] = max_topic_prob

In [107]:
# find index of max topic for each row 
doc_topic['max_topic'] = doc_topic.idxmax(axis=1)

In [108]:
doc_topic['x_tsne'] = tsne_lda[:,0]
doc_topic['y_tsne'] = tsne_lda[:,1]

In [109]:
doc_topic

,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15,max_topic_prob,max_topic,x_tsne,y_tsne
0,0.020000,0.020000,0.120000,0.020000,0.020000,0.020000,0.020000,0.020000,0.120000,0.120000,0.020000,0.320000,0.020000,0.120000,0.020000,0.320000,topic12,8.790414,20.071453
1,0.150000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.150000,0.275000,0.025000,0.025000,0.150000,0.275000,topic12,7.822139,16.797714
2,0.150000,0.025000,0.150000,0.025000,0.025000,0.025000,0.025000,0.025000,0.400000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.400000,topic9,-22.701334,-13.169685
3,0.040000,0.040000,0.040000,0.040000,0.040000,0.440000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.440000,topic6,-1.741059,-21.974630
4,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.440000,0.040000,0.040000,0.040000,0.040000,0.440000,topic11,9.683736,-11.329044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410,0.040000,0.240000,0.240000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.240000,topic2,-8.707225,30.603022
1411,0.022222,0.355556,0.022222,0.022222,0.022222,0.022222,0.022222,0.022222,0.244444,0.133333,0.022222,0.022222,0.022222,0.022222,0.022222,0.355556,topic2,-4.447326,29.824562
1412,0.050000,0.050000,0.050000,0.050000,0.050000,0.300000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.300000,topic6,-4.764091,-18.532625
1413,0.040000,0.240000,0.040000,0.040000,0.040000,0.240000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.040000,0.240000,topic2,-1.771665,-13.618720
1414,0.025000,0.025000,0.025000,0.525000,0.025000,0.025000,0.025000,0.025000,0.025000,0.150000,0.025000,0.025000,0.025000,0.025000,0.025000,0.525000,topic4,-21.240454,12.997532

In [110]:
doc_topic.to_csv('/Users/susanchen/Documents/Depression-or-Covid-Fatigue/data/trainingTM.csv')